<!DOCTYPE html>
<html>    
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
          
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body> 
   
  <%- include partiels/topbar.ejs %>

    
  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
  
    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <div class="w3-quarter">
        <img src="images/madecolombia.png" alt="Sandwich" style="width:50%">
        <h3>The Perfect Sandwich</h3>
        <h2>Price:</h2>
        <button id="delete">Delete</button>
      </div>
      <div class="w3-quarter">
        <img src="images/madecolombia.png" alt="Steak" style="width:50%">
        <h3>Let Me Tell You About</h3>
        <h2>Price:</h2>
        <button id="delete">Delete</button>
      </div>
      <div class="w3-quarter">
        <img src="images/madecolombia.png" alt="Cherries" style="width:50%">
        <h3>Cherries, interrupted</h3>
        <h2>Price:</h2>
        <button id="delete">Delete</button>
      </div>
      <div class="w3-quarter">
        <img src="images/madecolombia.png" alt="Pasta and Wine" style="width:50%">
        <h3>Once Again</h3>
        <h2>Price:</h2>
        <button id="delete">Delete</button>
      </div>
    </div>
    
    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        <img src="images/madectogo.png" alt="Popsicle" style="width:50%">
        <h3>All I Need Is a Popsicle</h3>
        <h2>Price:</h2>
        <button id="delete">Delete</button>
      </div>
      <div class="w3-quarter">
        <img src="images/madectogo.png" alt="Salmon" style="width:50%">
        <h3>Salmon For Your Skin</h3>
        <h2>Price:</h2>
        <button id="delete">Delete</button>
      </div>
      <div class="w3-quarter">
        <img src="images/madectogo.png" alt="Sandwich" style="width:50%">
        <h3>The Perfect Sandwich</h3>
        <h2>Price:</h2>
        <button id="delete">Delete</button>
      </div>
      <div class="w3-quarter">
        <img src="images/madectogo.png" alt="Croissant" style="width:50%">
        <h3>Le French</h3>
        <h2>Price:</h2>
        <button id="delete">Delete</button>
      </div>
    </div>
  
    <!-- Pagination 
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>-->
    
</div>

  </body>
</html>


  
  