<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/productsBought.css'/>
    <title><%= title %></title>

</head>
<body>
    <%- include partiels/topbar.ejs %>

<table id="products">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>Sugar</td>
    <td>5</td>
    <td>02/03</td>
  </tr>
  <tr>
    <td>Eggs</td>
    <td>10</td>
    <td>02/09</td>
  </tr>
  <tr>
    <td>Salt</td>
    <td>7</td>
    <td>02/08</td>
  </tr>
  
</table>

</body>
</html>
